/* ==========================================================================================
  Theme Name: Bizz
  Author: VS_THEMES
  Support: visakhinkollam@gmail.com
  Description: Bizz - Business Consulting and Agency HTML Template
  Version: 1.0
========================================================================================== */


/*-------------------------------------------------------

    CSS INDEX
    ===================

    1. Preloader css
    2. Theme Default CSS
    3. Header
    4. Slider
    5. Client logos slide
    6. Our Features
    7. About US
    8. Services
    9. Features list
    10. Call back 
    11. Our Team
    12. Our Pricing
    13. Testimonials
    14. client logos area
    15. Cta area
    16. Blog area
    17. Footer area
    18. About page
    19. Service details
    20. Blog list standared
    21. Blog list grid
    22. Blog details
    23. Portfolio
    24. Portfolio details
    25. Contact us
    26. FAQ
    27. Login Signup
    28. 404
    29. coming soon
    30.Testimonials
    31.Clients
    32.Career
    33.Team
    34.Tank you

-------------------------------------------------------*/


/*Importing Font*/

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Montserrat:200,300,400,400i,500,500i,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap');

/* ....................................
1. Preloader css
.......................................*/

.loader-page {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 310;
    background-color: #fff;
    text-align: center;
}


/* ....................................
2. Theme Default CSS
.......................................*/

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: .4px
}

body,
html {
    width: 100%;
    overflow-x: hidden;
}

body.modal-open {
    position: fixed;
}

*:focus {
    outline: 0;
}

.img,
img {
    max-width: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.fix {
    overflow: hidden
}

a,
.button {
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

a:focus,
a:hover {
    text-decoration: none;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

a,
button {
    outline: medium none;
}

button {
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: .3s;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 26px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 56px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 27px;
}

h4 {
    font-size: 22px;
    line-height: 1.5;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
}

li {
    list-style: none
}

p {
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 15px;
}

label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

*::-moz-selection {
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    font-size: 14px;
    font-weight: 500;
    opacity: 1;
}

*::placeholder {
    font-size: 14px;
    font-weight: 500;
    opacity: 1;
}

.input-border::-moz-placeholder {
    color: #fff;
}

.input-border::placeholder {
    color: #fff;
}

.underline {
    text-decoration: underline;
}

.white {
    color: #fff;
}

.bg-white {
    background: #ffffff;
}

.icon-links.icon-links-top {
    margin: 0;
}


/*Buttons*/

.btn,
.btn:hover {
    -webkit-transition: all .4s;
    transition: all .4s;
}

.btn-round {
    border-radius: 100px;
    padding: 15px 25px;
    line-height: 11px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    letter-spacing: .4px;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.btn-round:hover {
    color: #fff;
}

.btn-round-blue {
    border-radius: 100px;
    padding: 15px 25px;
    line-height: 11px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    letter-spacing: .4px;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.btn-round-blue:hover {
    color: #fff;
}

.btn-square {
    padding: 17px 45px;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0;
}

.btn-square:hover {
    color: #fff;
}

.btn-square-border {
    padding: 17px 45px;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    background: none;
    border: 1px solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0;
}

.btn-square-border:hover {
    color: #fff;
}

.btn-square-green {
    padding: 17px 35px;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 0;
}

.btn-square-white {
    padding: 17px 35px;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 0;
    border: 1px solid #fff;
}

.btn-square-blue {
    padding: 17px 35px;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 0;
    border: 1px solid #fff;
}

.btn-square-white:hover,
.btn-square-green:hover,
.btn-blue:hover {
    color: #fff;
}

.btn-round-border {
    border-radius: 100px;
    padding: 16px 40px;
    line-height: 11px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .4px;
    border: 1px solid;
}

.btn-blue {
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    letter-spacing: .4px;
    border-radius: 0;
    height: 50px;
}

.btn-round-border:hover {
    color: #fff;
}

.plus-btn {
    height: 54px;
    width: 54px;
    color: #fff;
    margin: auto;
    border-radius: 50px;
}

.circle-btn {
    height: 54px;
    width: 54px;
    line-height: 42px;
    color: #fff;
    margin: auto;
    border-radius: 50px;
}

.circle-btn:hover {
    color: #fff;
}

.plus-btn:hover {
    background-color: #ffffff;
}

.btn.wide {
    padding-left: 45px;
    padding-right: 45px;
}

.btn-border-blue {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid;
    border-radius: 0;
    padding: 13px 25px;
    line-height: 0;
}


/* ....................................
29. coming soon
.......................................*/
.coming-soon[data-overlay]::before {
    background: #ffffff;
}
.input-white + .input-group-append .btn {
    border: none;
    border-radius: 0px;
    color: #fff;
    width: 55px;
}

.fs-55 {
    font-size: 55px;
}

.logo-img {
    width: 300px;
}


